# ignore files by extension
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.snm
*.bbl
*.nav
*~
*.pdf
*.png
*.jpg

# ignore files by name
.RData
.RHistory
acheat.pdf

dox/
Documents/
Downloads/
R/
.local/lib
.local/src
