# ignore files by extension
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.snm
# *.bbl
*.nav
*~
*.pdf
*.png
*.jpg

# ignore files by name
.RData
.RHistory
acheat.pdf

dox/
Documents/
Downloads/
R/
.gnupg/
.local/lib
.local/src
.local/share/*
!.local/share/applications
!.local/share/larbs
.config/nvim/spell/en.utf-8.add.spl
.config/nvim/plugged/
.config/fcitx/
.config/fcitx/conf/
.ssh/*.pub
.ssh/joesuk
.ssh/amaryllisc
.texlive/
.Xauthority
.cache/
.config/Thunar/
.config/dconf/
.config/fcitx/
.config/fcitx5/conf/
.config/ibus/
.config/nvim/plugged/
.config/pulse/cookie
.config/xfce4/
.config/zsh/.zcompdump
.local/state/
.mozilla/
.ssh/joesuk
.ssh/known_hosts
